{% if queue_cards %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for card in queue_cards %}
            {% if not card.no_available_works %}
                <div class="col">
                    {% with work=card.subject.practicalwork_set.first %}
                        {% include 'lab_queue_app/queue_card.html' with work=work available_works_str=card.available_works_str %}
                    {% endwith %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-info">
        <i class="fas fa-info-circle"></i> Нет доступных очередей
    </div>
{% endif %}